<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>

    <httpPlatform 
      processPath="node" 
      arguments=".\server.js" 
      startupTimeLimit="60" 
      stdoutLogEnabled="true" 
      stdoutLogFile=".\logs\node">
      
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="NODE_ENV" value="production" />
        <environmentVariable name="MONGO_URI" value="mongodb+srv://admin:admin@emergentes.yscexc1.mongodb.net/emergentes?retryWrites=true&amp;w=majority&amp;appName=emergentes" />
        <environmentVariable name="MYSQL_HOST" value="db32645.public.databaseasp.net" />
        <environmentVariable name="MYSQL_DATABASE" value="db32645" />
        <environmentVariable name="MYSQL_USER" value="db32645" />
        <environmentVariable name="MYSQL_PASSWORD" value="wJ+3C4r!jF%6" />
        <environmentVariable name="LOG_LEVEL" value="info" />
        <environmentVariable name="MAX_RECORDS_PER_PAGE" value="5000" />
        <environmentVariable name="CACHE_TTL" value="300" />
        <environmentVariable name="BACKUP_ENABLED" value="true" />
        <environmentVariable name="BACKUP_TIME" value="02:00" />
        <environmentVariable name="BACKUP_BATCH_SIZE" value="1000" />
      </environmentVariables>
      
    </httpPlatform>

    <httpErrors errorMode="Detailed" />

  </system.webServer>
</configuration>
